@import '../../color';
@import '../../mixin';

::-webkit-scrollbar{
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hiding{
    visibility: hidden;
}

.orderModal{
position: relative;
.heading{
    color: $voilet;
    position: sticky;
    top: -20px;
    padding: 10px 0;
    width: 100%;
    background-color: white;
}
.items{
    overflow-y: hidden;
    .item{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    .itemInfo{
        .greenDot{
            div{
            width: 7px;
           height: 7px; 
           border: 1px solid green;
           background-color: green;
           border-radius: 50%;
            }
           border: 2px solid green;
           padding: 2px;
           width: fit-content;
        }
        p{
            width: 75%;
            font-size: 0.8rem;
            font-weight: 600;
            color: #8e8e8e;
            letter-spacing: 0.5px;
        }
    }
    .quantity{
        position: relative;
        .image{
            width: 75px;
            height: 75px;
            background-color: $voilet;
            border-radius: 3px;
        }
        .btn{
            position: absolute;
            top: 50px;
            left: 8px;
            background-color: white;
        button{
            background-color: white;
            border: 1px solid white;
            font-weight: bold;
            width: 20px;
            cursor: pointer;
            padding: 3px;
        }
        .green{
            color: green;
        }
        .minus{
            color: grey;
        }
    }
    }
}
}
   .totalBar{
       background-color: white;
       position:sticky;
    //    overflow: auto;
       bottom: -20px;
    // top: 100%;
       display: flex;
       justify-content: space-around;
       width: 100%;
       padding: 1rem 0;
       .total{
       span{
           color: $voilet;
           font-weight:  bold;
           font-size: 1.1rem;
           padding-left: 1rem;
       }
       .errMsg{
           color: red;
           margin-left: 20px;
       }
       .hide{
           display: none;
       }
   } 
   .PayNow{
       .btnPayNow{
           cursor: pointer;
           background-color: $red;
           color: white;
           font-weight: bold;
           letter-spacing: 2px;
           border: 1px solid $red;
           padding: 0.5rem 1.1rem;
           border-radius: 4px;
       }
   }
} 
}

.addressModal{
    color: $voilet;
    h2{
        margin-bottom: 1rem;
    }
    .field{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap:7px;   
        // align-items: center;
        label{
            grid-column: 1/4;
        }
        .inputField{
            grid-column: 4/10;
            display: flex;
            flex-direction: column;
            input{
                padding: 7px;
            }
            span{
                font-size: 0.7rem;
                color: red;
                // visibility: hidden;
            }
        }
    }


    .address{
        label{
            display: block;
            margin-bottom: 0.5rem;
        }
        .addressFields{
            display: flex;
            flex-wrap: wrap;
            .inputField{
                width: 40%;
                margin: 0 7px;
                input{
                    padding: 7px;
                    width: 100%;
                }
                span{
                    font-size: 0.7rem;
                    color: red;
                    // visibility: hidden;
                }
            }
        }
        
    }

    .btn{
        // width: 30%;
        display: block;
        margin: 1.25rem auto;
        background-color: $red;
        border: 1px solid $red;
        color: white;
        letter-spacing: 2px;
        border-radius: 5px;
        padding: 0.625rem !important;
        cursor: pointer;
    }

}



@media (max-width: 650px){
    .addressModal{
        h2{
            font-size: 1.2rem;
        }
        .field{
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        .address{
            .addressFields{
                flex-direction: column;
                .inputField{
                    width: 100%;
                }
            }
        }
    }

    
}